<Context docBase="/refstore">

	<Parameter name="RABBITMQ_URL" value="amqp://guest:guest@mq:5672"
		override="false" />

	<Resource name="jdbc/refstore.jobStore" auth="Container"
		type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://db:5432/refstore.job-store" username="refstore"
		password="refstore" maxTotal="20" maxIdle="10" maxWaitMillis="-1" />

	<Resource name="jdbc/refstore.configurationStore" auth="Container"
		type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://db:5432/refstore.configuration-store" username="refstore"
		password="refstore" maxTotal="20" maxIdle="10" maxWaitMillis="-1" />

	<Resource name="jdbc/refstore.recordStore.shard1" auth="Container"
		type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://db:5432/refstore.record-store.shard1" username="refstore"
		password="refstore" maxTotal="20" maxIdle="10" maxWaitMillis="-1" />

	<Resource name="jdbc/refstore.recordStore.shard2" auth="Container"
		type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
		url="jdbc:postgresql://db:5432/refstore.record-store.shard2" username="refstore"
		password="refstore" maxTotal="20" maxIdle="10" maxWaitMillis="-1" />

</Context>
