<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">

	<context-param>
		<param-name>RABBITMQ_URL</param-name>
		<param-value>amqp://guest:guest@localhost:5672</param-value>
	</context-param>

	<listener>
		<listener-class>refstore.ApplicationContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>enrich-request</filter-name>
		<filter-class>refstore.filters.EnrichRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>enrich-request</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>configuration-controller</servlet-name>
		<servlet-class>refstore.controllers.ConfigurationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configuration-controller</servlet-name>
		<url-pattern>/configuration</url-pattern>
		<url-pattern>/configuration/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>harvest-controller</servlet-name>
		<servlet-class>refstore.controllers.HarvestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>harvest-controller</servlet-name>
		<url-pattern>/harvests</url-pattern>
		<url-pattern>/harvests/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jobs-controller</servlet-name>
		<servlet-class>refstore.controllers.JobsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobs-controller</servlet-name>
		<url-pattern>/jobs</url-pattern>
		<url-pattern>/jobs/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dashboard-controller</servlet-name>
		<servlet-class>refstore.controllers.DashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dashboard-controller</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>dashboard</welcome-file>
	</welcome-file-list>
	
	<jsp-config>
		<taglib>
			<taglib-uri>dk.dtic.refstore</taglib-uri>
			<taglib-location>/WEB-INF/taglibs/refstore.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>